.admin-main{
    background-color: var(--hintergrund-grau);
}

.admin-box{
    width: var(--groesse-haupt-container);
    margin: auto;
    display: flex;
}

.admin-nav{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    flex: 1;
}

.admin-nav-ueberschrift{
    font-weight: 700;
    width: 100%;
    text-decoration: none;
    color: #000000;
}


.admin-nav-listenpunkt{
    text-decoration: none;
    color: #000000;
}


.admin-rechtebox{
    flex: 5;
    margin: 20px;
    background-color: #FFFFFF;
}

.admin-rechtebox-oben{
    background-color: #183050;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 700;
}

.admin-box-linie{
    border-bottom: 1px solid gray; 
    /*padding: 10px;  */
}

.admin-box-liste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

/*gleichmäßige verteilung in der Artikellisten ansicht*/
.admin-box-liste-artnummer, .admin-box-liste-artname, .admin-box-liste-artstueck, .admin-box-liste-artpreis, .admin-box-liste-salepreis{
    flex: 1;
}

/*gleichmäßige verteilung in der Nutzerlisten ansicht*/
.admin-box-liste-kdnr, .admin-box-liste-name, .admin-box-liste-gesperrt{
    flex: 1;
}


.admin-box-textfelder{
    display: flex;
    padding: 10px 10px 10px 50px;
}

.admin-box-texfeld-links{
    flex: 1;
}

.admin-box-texfeld-rechts{
    flex: 3;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #FFFFFF;

    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: var(--primaer-farbe);

    border: none;
}

.a-button {
    text-decoration: none;
    color: #FFFFFF;

    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: var(--primaer-farbe);

    border: none;
}

.button-box{
    display: flex;
    
}

.linkTexthervorgehobenFließtext{
    color: var(--primaer-farbe);
    text-decoration: none;
    font-weight: 700;
}