/*Css Variablen*/
/*Verwändungsbeispiel*/
/*
.divcontainer {
    width: var(--groesse-haupt-container);
}
*/
:root{
    --groesse-haupt-container: 800px;
    --hintergrund-grau: #F2F2F2;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}