/*Css Variablen*/
/*Verwendungsbeispiel*/
/*
.divcontainer {
    width: var(--groesse-haupt-container);
}
*/
:root {
  --groesse-haupt-container: 1200px; /*Contentbereich breite*/
  --hintergrund-grau: #f2f2f2;
}
